body{
    background-color: rgb(20, 20, 20);
}

canvas{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: black;   
    border-radius: 10px;
    border-width: 3px;
    border-style: dashed;
    border-color: brown;
}